* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}
.navbar {
  width: 100%;
  height: 100px;
  background: #f2b3b9;
}
.nav-ul {
  display: flex;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  margin-right: 12px;
}

.nav-li {
  list-style: none;
  line-height: 100px;
}

.nav-a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  font-size: 17px;
}
.nav-a:hover {
  color: rgba(238, 241, 7, 0.863);
}
.material-symbols-outlined {
  color: #fff;
  font-size: 25px;
  
  position: relative;
}
.contadorProductos {
  background-color: #fff;
  position: absolute;
  top: 15px;
  right: 2px;
  
  border-radius: 50%;
  color: #f2b3b9;
  width: 22px;
  height: 20px;
  display: flex; 
  align-items: center;
  
}
.contadorProductos p {
  margin-left: 7px;
  font-weight: bold;
}
.nav-logo {
  display: flex;
  justify-content: flex-start;
}
.nav-logo img {
  background-size: cover;
}
.nav-filtro {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-filtro li {
  list-style: none;
}
.nav-filtro a {
  background: #f0f0f0;
  padding: 10px;
  text-decoration: none;
  margin: 5px;
  font-size: 18px;
  color: #f2b3b9;
}
.nav-filtro a:hover {
  background-color: rgba(237, 241, 7, 0.644);
  color: #f0f0f0;
}
.titulo h1 {
  display: flex;
  justify-content: center;
  font-size: 1.6em;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #f2b3b9;
  margin-bottom: 10px;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
}
.grid-item {
  margin-top: 10px;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f0f0f0;
}

.grid-item p {
  margin: 0.5em;
}
.grid-item h3 {
  display: grid;
  place-items: center;
  color: #f2b3b9;
  margin: 0.5em;
}
#Checkout-h2{
  margin: 10px 10px;
}
.items-compra button {
  display: grid;
  padding: 10px;
  margin-top: 10px;
  background-color: #f2b3b9;
  color: #fff;
  border: 2px solid #f2b3b9;
  border-radius: 5px;
  cursor: pointer;
}
.boton-detalle {
  color: #fff;
  text-decoration: none;
}
.boton-carrito {
  color: #fff;
  background-color: #1f8c64;
  padding: 10px;
}

.grid-item img {
  width: 300px;
  margin: 0 auto;
  height: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.container-item-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.detail.grid-item {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
}
.detail.grid-item p {
  max-width: 100%;
}

.item-count {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.item-count p {
  font-size: 20px;
}
.item-count button {
  padding: 7px;
  line-height: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.items-compra {
  display: flex;
  justify-content: center;
  align-items: center;
}
.PageNotFound {
  display: flex;
  justify-content: center;
}
.form{
  display: flex;
  justify-content: center;
  height: auto;
  border: 2px solid black;
}
.form-td{
  background: #f2b3b9;
}
.form tr, td{
  border: 1px  solid black;
  padding: 8px;
}
.formulario{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.formulario input{
  width: 300px;
  height: 20px;
  padding: 10px;
  font-size: 16px;
}
.formulario input:focus{
  background: #f3bec3;
}
.formulario button{
  margin-top: 5px;
}
.boton-form{
  background: #f2b3b9;
  color: #fff;
  border: 2px solid #f2b3b9;
  padding: 5px;
  text-decoration: none;
}
.boton-checkout{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 200px;
}
.boton-form.checkout{
  padding: 15px;
}

.items-compra button.Boton-sin-stock{
  background-color: rgb(197, 46, 46);
  color: white;
}

.cart{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}
.cart h2{
  margin-bottom: 10px;
}
#Titulo-Carrito{
  margin-top: 10px;
  margin-bottom: 10px;
}
.sucursal{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.sucursal-div{
  flex: 1 1 50%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.sucursal-item{
  display: flex;
  margin-bottom: 20px;
}
.sucursal-texto{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.sucursal-texto h3, 
.sucursal-texto h2,
.sucursal-texto p{
  margin-bottom: 25px;
}



@media screen and (max-width: 768px) {
  .container1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .navbar {
    display: flex;
    width: 100%;
    height: 150px;
  }
  .nav-ul {
    display: flex;
    width: 100%;
  }
  .nav-a {
    width: 100%;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contadorProductos{
    position: relative;
    top:-84px;
    left: 13px;
  }
  .nav-filtro-li {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .container1 {
    grid-template-columns: 1fr;
  }
  .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contadorProductos{
    position: relative;
    top:-84px;
    left: 13px;
  }
}
